@background-color: #A1C00A;
@button-background-color: #383838;
@button-background-hover-color: #242B00;
@font-family: PressStart2P;
@label-font-size: 24px;
@navbar-height: 60px;
@text-color: #383838;
@font-face {
    font-family: @font-family;
    src: url('../fonts/PressStart2P.ttf');
}

html {
    touch-action: manipulation;
  }

body {
    background-color: @background-color;
    color: @text-color;
    font-family: @font-family;
    margin: 0;
    padding: @navbar-height 0 0 0;

    &.game {
        padding: 0;

        .body-content {
            width: 100%;
            display: table;
            margin: 0 auto;
        }

    }
}

button {
    touch-action: manipulation;
    background: @button-background-color;
    border-color: transparent;
    border-radius: 5px;
    color: @text-color;
    font-family: @font-family;
    text-decoration: none;
    &:hover {
        background: @button-background-hover-color;
        cursor: pointer;
        text-decoration: none;
    }
}

fieldset {
    max-width: 1175px;
}

* {
    &:focus {
        outline: none;
    }
}

.non-selectable {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

.play-ui .nav-label{
    display: block;
    text-align: center;
    margin-bottom:1%;
}

.play-ui{
    padding-top:0;
}

.control-button-wrapper{
    position: relative;
    width:80%;
    display: block;
    margin-left:auto;
    margin-right: auto;
    height: 80%;
    overflow: hidden;


    button{
        width:auto;
        height: auto;
        padding:2.5rem;
        text-align: center;
        font-size:2rem;
    }

    #btnUp{
        display: block;
        margin-right: auto;
        margin-left: auto;
        clear:both;
    }

    #btnLeft{
        display: block;
        float:left;
        margin-top:2.5%;
        margin-bottom:2.5%;
    }

    #btnRight{
        display: block;
        float:right;
        margin-top:2.5%;
        margin-bottom:2.5%;
    }

    #btnDown{
        display: block;
        margin-left:auto;
        margin-right: auto;
        clear:both;
    }
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    margin: auto;
    position: relative;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
  .grid-item-button {
    background-color: #9900ff;
  }
  .grid-item {
    background-color: none;
    padding: 10px;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
  }


@media all and (orientation: portrait){
    .grid-container{
        top: 50%;
    }
}

@media all and (orientation: landscape){
    .grid-container{
        top: 20%;
    }
}