@background-color: #A1C00A;
@button-background-color: #383838;
@button-background-hover-color: #242B00;
@font-family: PressStart2P;
@label-font-size: 24px;
@navbar-height: 60px;
@text-color: #383838;
@font-face {
    font-family: @font-family;
    src: url('../fonts/PressStart2P.ttf');
}

html {
    touch-action: manipulation;
  }

body {
    background-color: @background-color;
    color: @text-color;
    font-family: @font-family;
    margin: 0;
    padding: @navbar-height 0 0 0;

    &.game {
        padding: 0;

        .body-content {
            width: 100%;
            display: table;
            margin: 0 auto;
        }

    }
}

.active-game {
    #playerScores {
        display: block;
    }
    #playerSettings {
        display: grid;
    }
    #welcomeBack {
        display: none !important;
    }
}

#playerSettings {
    display: none;
}

button {
    touch-action: manipulation;
    background: @button-background-color;
    border-color: transparent;
    border-radius: 5px;
    color: @text-color;
    font-family: @font-family;
    text-decoration: none;
    &:hover {
        background: @button-background-hover-color;
        cursor: pointer;
        text-decoration: none;
    }
}

fieldset {
    max-width: 1175px;
}

* {
    &:focus {
        outline: none;
    }
}

.non-selectable {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

.play-ui .nav-label{
    display: block;
    text-align: center;
    margin-bottom:1%;
}

.play-ui{
    padding-top:0;
}

.control-button-wrapper{
    position: relative;
    width:80%;
    display: block;
    margin-left:auto;
    margin-right: auto;
    height: 80%;
    overflow: hidden;


    button{
        width:auto;
        height: auto;
        padding:2.5rem;
        text-align: center;
        font-size:2rem;
    }

    #btnUp{
        display: block;
        margin-right: auto;
        margin-left: auto;
        clear:both;
    }

    #btnLeft{
        display: block;
        float:left;
        margin-top:2.5%;
        margin-bottom:2.5%;
    }

    #btnRight{
        display: block;
        float:right;
        margin-top:2.5%;
        margin-bottom:2.5%;
    }

    #btnDown{
        display: block;
        margin-left:auto;
        margin-right: auto;
        clear:both;
    }
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    margin: auto;
    position: relative;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
  .grid-item-button {
    background-color: @button-background-color;
  }
  .grid-item {
    background-color: none;
    padding: 10px;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    color: @background-color;
  }


@media all and (orientation: portrait){
    .grid-container{
        top: 25%;
    }

    #playerScores {
        display: none;
        margin-top: 100px;
        width: 100%;
        text-align: center;
    }

}

@media all and (orientation: landscape){
    .grid-container{
        top: 20%;
    }
    .player-view .register.top {
        justify-content: flex-start;
        padding-left: 20px;
    }

    #playerScores {
        display: none;
        position: absolute;
        right: 20px;
        top: 0;
        text-align: center;
    }

}

.scroll-left {
    height: 50px;
    overflow: hidden;
    position: relative;
}

.scroll-left .text {
    white-space: nowrap;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 50px;
    text-align: center;
    /* Starting position */
    -moz-transform:translateX(100%);
    -webkit-transform:translateX(100%);
    transform:translateX(100%);
    /* Apply animation to this element */
    -moz-animation: scroll-left 30s linear infinite;
    -webkit-animation: scroll-left 30s linear infinite;
    animation: scroll-left 30s linear infinite;
}

/* Move it (define the animation) */
@-moz-keyframes scroll-left {
    0% { -moz-transform: translateX(100%); }
    100% { -moz-transform: translateX(-100%); }
}

@-webkit-keyframes scroll-left {
    0% { -webkit-transform: translateX(100%); }
    100% { -webkit-transform: translateX(-100%); }
}

@keyframes scroll-left {
    0% {
        -moz-transform: translateX(100%); /* Browser bug fix */
        -webkit-transform: translateX(100%); /* Browser bug fix */
        transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%); /* Browser bug fix */
        -webkit-transform: translateX(-100%); /* Browser bug fix */
        transform: translateX(-100%);
    }
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  }