@content-color: #242B00;
.active-game {
    justify-content: space-evenly;
    display: flex !important;
    flex-direction: column;
    height: 100%;
}

.visible-in-game {
    position: relative;
    text-align: center;
    width: 100%;
}

label#register {
    width: 100%;
    display: flex;
    flex-grow: 1;
    min-height: 10%;
}

.player-view .register.top {
    position: relative !important;
    top: 0;
}

#changePlayerNameButton {
    color: white;
}

div#player-name {
    border-top: 0.2em solid @content-color;
    border-bottom: 0.2em solid @content-color;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    clear: both;
    width: 100%;
    display: block;
    margin-left: 0.75em;
    margin-right: 0.75em;
    text-align: center;
    color: @content-color  !important;
    font-weight: normal;
}

#visibleWhenPlaying {
    display: none;
}

#quitGame {
    color: inherit;
    background-color: transparent;
    text-transform: uppercase;
    border-bottom: 0.2em solid @content-color;
    width: auto;
    display: flex;
    flex-grow: 1;
    min-height: 5%;
    margin-left: auto;
    margin-right: auto;
}

.player-info-wrapper {
    display: flex;
    min-height: 45%;
    flex-grow: 1;
    flex-direction: column;
    & label {
        font-size: 1em;
        text-transform: uppercase;
        display: block;
        clear: both;
    }
    & .score-result {
        font-size: 2em;
        margin-top: 0.2em;
    }
}

#playerSettings {
    display: flex;
    min-height: 30%;
    flex-grow: 1;
    flex-direction: column;
    grid-gap: 0.1em;
    height: 15em;
    grid-template-areas: "a a b b d d" "a a b b d d" "a a c c d d" "a a c c d d";
}

button.grid-item-button {
    border: 0.2em solid @content-color;
    background: transparent;
    color: @content-color;
    &:active {
        background: @content-color;
        color: white;
    }
}

#playerViewCanvas {
    width: 100%;
    transform: scale(1);
    /*margin-bottom: -80px;
    margin-top: -35px;
    padding-left: 25%;*/
}

.control-button {
    text-transform: uppercase;
    font-weight: 200;
    font-size: 125%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#btnRight span,
#btnLeft span {
    writing-mode: tb-rl;
    text-orientation: upright;
    letter-spacing: 0.25em;
}

span#playerNameLabel {
    display: none !important;
}