<html>

<head>
    <title>Play Snake</title>
    <link rel="stylesheet" type="text/css" href="css/global.css">
    <link rel="stylesheet" type="text/css" href="css/game.css">
    <link rel="stylesheet" type="text/css" href="css/settings.css">
    <link rel="stylesheet" type="text/css" href="css/play-mobile.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" user-scalable="no">
    <!--320-->
</head>

<body class="play-ui player-view" id="playerView">
    <a id="top"></a>

    <label class="register" id="register">
        <span id="selectName">Enter nickname:</span>
        <span id="welcomeBack" style="display:none">Welcome back,</span>
        <span id="playerNameLabel" style="display:none !important;"><i class="fas fa-user"></i> </span>
        <input id="player-name-input" maxlength="10"/>
        <div id="player-name" style="display:none"></div>
        <label id="invalid-player-name-label">Too long nickname (10 chars max)</label>
        <label id="taken-player-name-label">Nickname taken. Choose another one</label>
        <button id="changePlayerNameButton">PLAY</button>
    </label>

    <div class="visible-in-game" id="visibleWhenPlaying">
        <button id="quitGame">Quit?</button>
        <div class="player-info-wrapper">
            <canvas id="playerViewCanvas" class="noselect" height="32px">
            </canvas>

            <label class="noselect" id="scoreLabel">Score:</label>
            <p class="score-result noselect" aria-labelledby="scoreLabel" id="playerScore">0</p>

            <label class="noselect" id="highScoreLabel">Highscore:</label>
            <p class="score-result noselect" aria-labelledby="highScoreLabel" id="playerHighScore">0</p>

            <label class="noselect" id="rankLabel">Current Position:</label>
            <p class="score-result noselect" aria-labelledby="rankLabel" id="playerRank">0</p>
        </div>

        <div id="playerSettings" class="grid-container" style="display: grid;">
            <button id="btnLeft" class="grid-item grid-item-button control-button" style="grid-area:a">
                <span class="noselect">Left</span>
            </button>
            <button id="btnUp" class="grid-item grid-item-button control-button" style="grid-area:b">
                <span class="noselect">Up</span>
            </button>
            <button id="btnDown" class="grid-item grid-item-button control-button" style="grid-area:c">
                <span class="noselect">Down</span>
            </button>
            <button id="btnRight" class="grid-item grid-item-button control-button" style="grid-area:d">
                <span class="noselect">Right</span>
            </button>
        </div>
    </div>

    <div id="cover" style="display:none !important;">
        <div class="navigation">

            <div class="nav-button-bar">
                <a href="#top" id="play-or-watch-button" title="Spectate or rejoin game">Watch</a>
                <a href="#playerSettings" title="Go to settings">Settings</a>
                <button id="full-screen-button" title="Go into full-screen mode" />
            </div>
        </div>
        <div id="kill-messages">
        </div>
        <div class="body-content">
            <div class="main-container">
                <div class="left-content">
                    <div id="game-board"></div>
                </div>
                <div class="right-content">
                    <div id="player-stats">
                    </div>
                    <div id="notifications">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://www.gstatic.com/firebasejs/5.4.1/firebase.js"></script>

    <!-- Firebase App is always required and must be first -->
    <script src="https://www.gstatic.com/firebasejs/5.4.1/firebase-app.js"></script>

    <!-- Add additional services that you want to use -->
    <script src="https://www.gstatic.com/firebasejs/5.4.1/firebase-database.js"></script>

    <script>
        // Initialize Firebase
        var config = {
            apiKey: "<API_KEY>",
            authDomain: 'jz-2018.firebaseapp.com',
            databaseURL: 'https://jz-2018.firebaseio.com',
            projectId: 'jz-2018',
            storageBucket: 'jz-2018.appspot.com',
            messagingSenderId: "<SENDER_ID>",
        };
        var firebaseApp = firebase.initializeApp(config);
    </script>

    <!-- socket.io client is exposed by the server.  This sets a global variable io -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/playermain.js" type="module"></script>

</body>

</html>