<html>
    <head>
        <title>Snake</title>
        <link rel="stylesheet" type="text/css" href="css/global.css">
        <link rel="stylesheet" type="text/css" href="css/game.css">
        <link rel="stylesheet" type="text/css" href="css/settings.css">
    </head>
    <body>
                <div id="adminControls" class="settings-menu">
                    <fieldset>
                        <legend>Admin Controls</legend>
                        <div class="options-controls" class="settings-menu">
                            <label class="options-label">Speed: </label>
                            <label id="currentSpeed" class="options-value"></label>
                            <button id="decreaseSpeedButton" class="minus-button" title="-1"/>
                            <button id="increaseSpeedButton" class="plus-button" title="+1"/>
                            <button id="resetSpeedButton" class="reset-button" title="Reset to Default"/>
                        </div>
                        <div class="options-controls" class="settings-menu">
                            <label class="options-label">Food: </label>
                            <label id="currentFoodAmount" class="options-value"></label>
                            <button id="decreaseFoodButton" class="minus-button" title="-1"/>
                            <button id="increaseFoodButton" class="plus-button" title="+1"/>
                            <button id="resetFoodButton" class="reset-button" title="Reset to Default"/>
                        </div>
                        <div class="options-controls">
                            <label class="options-label">Bots: </label>
                            <label id="currentNumberOfBots" class="options-value"></label>
                            <button id="decreaseBotsButton" class="minus-button" title="-1"/>
                            <button id="increaseBotsButton" class="plus-button" title="+1"/>
                            <button id="resetBotsButton" class="reset-button" title="Reset to Default"/>
                        </div>
                    </fieldset>
                </div> 
        <!-- socket.io client is exposed by the server.  This sets a global variable io -->
        <script src="/socket.io/socket.io.js"></script>
        <script src="js/settings.js" type="module"></script>
    </body>
</html>