<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>acn.zone - admin</title>
</head>
<body>
    <div class="container" align="center"> 
        <form action="/videos" method="POST">
            <button class="btn btn-lg btn-primary mt-4" type="submit">Start videos</button>
        </form>
        <form action="/game" method="POST">
            <button class="btn btn-secondary btn-lg mt-4" type="submit">Start game</button>
        </form>
    </div>
</body>