<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Accenture's Interactive Wall - Video</title>
    <style>
        body {
            background: #000;
        }
    </style>
</head>
<body>
    <video autoplay id="video" poster="https://frameio-assets-production.s3-accelerate.amazonaws.com/image/e0db1c2b-7935-4714-97a7-b1894c95fcef/image_full.jpg?x-amz-meta-project_id=ee9f2dca-dba0-4a98-b242-0533cdb01946&amp;X-Amz-Algorithm=AWS4-HMAC-SHA256&amp;X-Amz-Credential=AKIAIHKSS2IP3JTIPKYQ%2F20180901%2Fus-east-1%2Fs3%2Faws4_request&amp;X-Amz-Date=20180901T213522Z&amp;X-Amz-Expires=172800&amp;X-Amz-SignedHeaders=host&amp;X-Amz-Signature=707506a42436c3287a319c69b4344f5e8cfaa54f7e4f633e31b8ecfbe461bd9c" playsinline="" width="100%" height="100%" rossorigin="anonymous">
        <source src="https://frameio-assets-production.s3-accelerate.amazonaws.com/encode/e0db1c2b-7935-4714-97a7-b1894c95fcef/h264_1080_best.mp4?x-amz-meta-project_id=ee9f2dca-dba0-4a98-b242-0533cdb01946&amp;X-Amz-Algorithm=AWS4-HMAC-SHA256&amp;X-Amz-Credential=AKIAIHKSS2IP3JTIPKYQ%2F20180901%2Fus-east-1%2Fs3%2Faws4_request&amp;X-Amz-Date=20180901T213522Z&amp;X-Amz-Expires=172800&amp;X-Amz-SignedHeaders=host&amp;X-Amz-Signature=26f750d47343aefcbf9683c58bed9cc412fb01f44594bc5ff2be25845e20ea44">
    </video>
    <!-- <video id="ai" src="assets/ai.mp4" controls></video> -->

    <!-- socket.io client is exposed by the server.  This sets a global variable io -->
     <script src="/socket.io/socket.io.js"></script>
     <script>
        window.onload = function() {
            if (!window.location.hash) {
                window.location = window.location + '#loaded';
                window.location.reload();
            }
        }
     </script>
     <script src="js/videos.js" type="module"></script>
</body>
</html>